.color-main {
  background-color: rgba(187, 218, 110, 0.5);
  width: 100%;
  height: 1000px;
  z-index: -200;
}

.color-top {
  background-color: rgba(255, 255, 255, 0.52);
  width: 100%;
  height: 282px;
  z-index: -100; 
}

.h-1000px {
  height: 1000px;
}

.logo-1 {
  height: auto;
}

.text-5xl {
  font-size: 60px;
  font-weight: bold;
}

.text-5xl, .text-1 {
  margin-bottom: 10px;
}

.text-1, .text-2 {
  margin-bottom: 8px;
}

.text-2 {
  line-height: 150%;
  margin-bottom: 120px;
}

.custom-margin {
  margin-top: 80px;
}

.main-color {
  color: #689606;
}

.bg-main-color {
  background-color: #689606;
}

.text-1 {
  font-size: 32px;
  font-weight: 600;
}

.text-2 {
  font-size: 24px;
}

.icon-1, .icon-3 {
  font-size: 40px;
  margin-bottom: 54px;
  margin-right: 40px;
}

.icon-2 {
  font-size: 52px;
  margin-bottom: 54px;
  margin-right: 40px;
}

.information-1 {
  margin-bottom: 90px;
}

.phone-number, .address, .time {
  font-size: 30px;
}

.phone-number:hover {
  color: black;
  text-decoration: underline;
  font-weight: 600;
}

.address:hover {
  color: black;
  font-weight: 600;
  text-decoration: underline;
}

.name {
  font-size: 32px;
  font-weight: bold;
}

form {
  margin: 20px;
}

label {
  color: #57534E;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
}

input[type="name"] {
  border-bottom: 3px solid #78716C;
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: normal;
  width: 320px;
  color: black;
  outline: none;
  transition: all 0.3s;
  border-color: #cbd5e0;
}

input[type="name"]:focus {
  border-color: #92BA3E;
  outline: none; 
}

input[type="name"]::placeholder {
  font-size: 24px;
  color: #A8A29E;
  font-weight: bold;
}

input[type="phone-number"] {
  border-bottom: 3px solid #78716C;
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: normal;
  width: 500px;
  color: black;
  outline: none;
  transition: all 0.3s;
  border-color: #cbd5e0;
}

input[type="phone-number"]:focus {
  border-color: #92BA3E;
  outline: none; 
}

input[type="phone-number"]::placeholder {
  font-size: 24px;
  color: #A8A29E;
  font-weight: bold;
}

input[type="email"] {
  border-bottom: 3px solid #78716C;
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: normal;
  width: 900px;
  color: black;
  outline: none;
  transition: all 0.3s;
  border-color: #cbd5e0;
}

input[type="email"]:focus {
  border-color: #92BA3E;
  outline: none; 
}

input[type="email"]::placeholder {
  font-size: 24px;
  color: #A8A29E;
  font-weight: bold;
}

label[for="message"] {
  color: #689606;
}

input[type="message"] {
  border-bottom: 3px solid #78716C;
  background-color: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: normal;
  width: 900px;
  color: black;
  outline: none;
  transition: all 0.3s;
  border-color: #cbd5e0;
}

input[type="message"]:focus {
  border-color: #92BA3E;
  outline: none; 
}

input[type="message"]::placeholder {
  font-size: 24px;
  color: #A8A29E;
  font-weight: bold;
}

.form-container {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  max-width: 900px;
  width: 100%;
  box-sizing: inherit;
}

form {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0; /
}

.custom-div * {
  box-sizing: inherit;
  max-width: 100%;
}
