.footer {
  margin-top: 2rem;
  text-align: center;
  position: relative;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
}

.footer img.logo_2,
.footer img.Logo_text {
  margin-bottom: 1rem;
}

.logo_2 {
  width: 15%;
}

.Logo_text {
  width: 35%;
  margin-bottom: 1.5rem;
}

.footer-text {
  margin-top: 2%;
  margin-bottom: 2%;
}

.footer-text p {
  margin: 0.2rem 0;
  font-size: 18px;
  color: #3f6b00;
}

.social-icons {
  color: #bdd774;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin: 0 10px;
}

.social-icons svg {
  width: 43px;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.social-icons svg:hover {
  transform: scale(1.1);
  color: #92ba3e;
}

.footer-bg {
  margin-top: 4%;
  width: 100%;
  height: 220px;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.footer_bg_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  opacity: 0.2;
}
