.about_h3 {
    color: #79A530;
    font-weight:900;
    font-size: 24px;
}
.FP {
    width: 80%;
    margin: 0 auto; 
    margin-bottom: 10%;
}
.FPtext{
    font-size: 24px;
    color: #797979;
    font-weight:900;

}
.FPwarp{
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more-title{
    position: relative; 
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px; 
    justify-content: center;
    display: flex;
    color: #C9DBAC;

}

.more-title::before {
    content: '';
    position: absolute;
    left: -30px; 
    top: 50%;
    width: 45%;
    height: 2px;
    background-color: #C9DBAC;
}

.more-title::after {
    content: '';
    position: absolute;
    right: -30px; 
    top: 50%;
    width: 45%;
    height: 2px;
    background-color: #C9DBAC;
}