body {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 660px;
  height: 760px;
  border: 5px solid #689606;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message {
  text-align: center;
}

.message h1 {
  font-size: 40px;
  font-weight: bold;
  color: #689606;
}

.message p {
  font-size: 18px;
  color: #555;
}

.fa-circle-check {
  font-size: 100px;
  color: #689606;
}

h1 {
  font-weight: bold;
}
